body, html {
  margin: 0;
  padding: 5em;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', serif;
  background: #9eebcd; }

#morph {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1; }

section {
  position: absolute; }
  section h1 {
    font-size: 3em;
    margin: 0;
    padding: 0; }
  section p {
    font-size: 1.4em;
    margin: 10px 0; }
  section button {
    background: #00354e;
    margin-top: 20px;
    border: none;
    color: white;
    padding: 1em;
    border-radius: 5px;
    width: 40%;
    cursor: pointer; }

#sect2 {
  display: none;
  position: absolute;
  z-index: 2;
  width: 50%; }

.display {
  display: block !important; }

.pointer {
  pointer-events: auto !important; }
